nav.navbar.navbar-default.navbar-fixed-top.navbar-top
  .container
    .navbar-header
      a.navbar-brand The Noren
    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li.nav-item
          a(href="#section_ask") 暖簾について
        li.nav-item
          a(href="#section_about") トピックス
        li.nav-item
          a(href="#section_story") 製作事例
        li.nav-item
          a(href="#section_future") なつくり技術
header.fullscreen-video.no-ie
  video#video(preload, autoplay, muted, playsinline, webkit-playsinline)
    source(src="https://nakamura-inc.jp/assets/video/noren.mp4", type="video/mp4")

  .info
    h1(data-0="transform: translateY(-50px)" data-500="transform: translateY(100px)") The Noren
    hr
    h4(data-0="transform: translateY(-50px)" data-500="transform: translateY(100px)") 中むら
    
section#section_ask
  .container
    .row
      .col-sm-5
        img(src="https://nakamura-inc.jp/assets/img/top/noren/img.jpg", alt="")(data-0="transform: translateX(-200px)" data-500="transform: translateY(0px)")
      .col-sm-7(data-300="opacity:0" data-500="opacity:1")
        h2 Entrance to Japanology
        h4 日本文化と、つながる
        p 暖簾を説明するとき、どんな言葉がふさわしいのでしょうか？店のブランドを示す顔？ 情報を伝える屋外広告？建築空間的には、境界という意味もあります。また、開店の合図ともなります。中むらは、それらを伝える言葉としてENTRANCE TO JAPANOLOGYと説明しています。空間へ暖簾をかけると、そこには往来が生まれます。くぐることで、暖簾の向こう側がちがう世界に通じていることを感じられます。
section#section_about
  .container
    .row
      .col-sm-12(data-bottom-top="transform:translateY(-50px);opacity:0" data-center="transform: traslateY(0px);opacity: 1")
        h2 Topics
        br
      .col-md-4.col-sm-6
        .img_wrap(data-bottom-top="transform:translateY(-50px);opacity:0" data-center="transform: traslateY(0px);opacity: 1")
          img(src="https://nakamura-inc.jp/api/wp-content/uploads/2020/11/O-1-2-1024x683.jpg", alt="")
        h4(data-bottom-top="transform:translateY(-50px);opacity:0" data-center="transform: traslateY(0px);opacity: 1") Compartment Noren
        p(data-bottom-top="transform:translateY(-50px);opacity:0" data-center="transform: traslateY(0px);opacity: 1") のれんはチリやホコリ除けからはじまり、平安時代には寝殿造の本殿を仮設で仕切る衣桁や御簾に派生しました。空間を用途や状況に合わせてフレキシブルに変えるのは日本らしい空間の捉え方です。四方を囲い任意の入口をつくるのれんは、自在に空間をコンパートメント化します。
      .col-md-4.col-sm-6
        .img_wrap(data-bottom-top="transform:translateY(-50px);opacity:0" data-center="transform: traslateY(0px);opacity: 1")
          img(src="https://nakamura-inc.jp/api/wp-content/uploads/2021/03/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88-2021-03-30-15.04.49-1024x722.png", alt="")
        h4(data-bottom-top="transform:translateY(-50px);opacity:0" data-center="transform: traslateY(0px);opacity: 1") 中むら　カタログリリース
        p(data-bottom-top="transform:translateY(-50px);opacity:0" data-center="transform: traslateY(0px);opacity: 1") 中むらのカタログをリリースしました。PDF版は以下より自由にダウンロード頂けます。本カタログは両A面となっており、片側は製作に携わらせて頂いたのれんのポートフォリオで、もう片側はのれんを構成する意味合いをマテリアルで表現しておりさまざまなのれんが見れる設計となっています。
      .col-md-4.col-sm-6
        .img_wrap(data-bottom-top="transform:translateY(-50px);opacity:0" data-center="transform: traslateY(0px);opacity: 1")
          img(src="https://nakamura-inc.jp/api/wp-content/uploads/2020/11/noren_casestudy_01_01.jpg", alt="")
        h4(data-bottom-top="transform:translateY(-50px);opacity:0" data-center="transform: traslateY(0px);opacity: 1") 特殊素材　寒冷紗
        p(data-bottom-top="transform:translateY(-50px);opacity:0" data-center="transform: traslateY(0px);opacity: 1") 目が粗く薄手で非常に透け感の強い寒冷紗素材の試験。二層に重ねることで独特なモアレが現れます。引染めで地を染めている為、のれんとして紋の染め抜きやグラデーション表現も可能です。
        
section#section_story
  .container-fluid
    .row
      .col-sm-5(data-bottom-top="background-size:100%; background-position: 0% 0%;" data-center="background-size:150%; background-position: 50% 50%;")
      .col-sm-7
        .col-sm-12(data-bottom-top="transform:scale(1.5);opacity:0" data-center="transform: scale(1);opacity: 1")
          h2 A Tradition of Innovation
          h4 製作事例
          p 中むらは格式高いファサードからモダンな空間装飾まで、多様なのれんを製作しています。数多くのプロジェクトに携わった経験をもとに、伝統と革新が織りなすのれんを提案します。
          
section#section_future
  .container-fluid
    .row
      .col-sm-12(data-bottom-top="transform:translateX(50px)" data-center="transform:translateX(0px)")
        h2 Creation With Japanese Craftsmanship
        br
      .col-sm-6(data-bottom-top="transform:translateX(50px)" data-center="transform:translateX(0px)")
        img(src="https://nakamura-inc.jp/api/wp-content/uploads/2020/10/noren_thumnail_05.jpg", alt="")
      .col-sm-6.icon(data-bottom-top="transform:translateX(50px)" data-center="transform:translateX(0px)")
        img(src="https://image.flaticon.com/icons/png/512/2167/2167725.png", alt="")
        h4 家紋
        p 花鳥風月に端を発する日本の伝統意匠。のれんに大きく染め抜かれた紋は日本らしい佇まい。
        
footer.jumbotron
  .container
    p 中むらはつくり手の様々な技術の 長所を活かした「つくる視点」と、
    p のれんの価値が最大限に発揮できる 「つかう視点」を大切にしたご提案を致しま
    p す。お気軽にご相談ください。
    br
    br
    input.form-control(placeholder="Email")
    buttom.btn.btn-default Enter